body{
    background-color: rgba(93, 101, 109, 0.87);
    padding-top: 15px;
}

h1.index{
    text-align: center;
}
.index_words{
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    margin: 8px 0;
    color: #d4d3d3;
}

form{
     margin: 0 auto;
     /* background-color: silver; */
     display: flex;
     justify-content: center;

}

input{
    background-color: rgb(239, 238, 238);
    height: 28px;
    width: 150px;
    margin-right: 10px;
    border-radius: 3px;
    padding-left: 7px;
    border: 1px solid rgb(182, 181, 181);
    font-size: 1.0em;
}
button.blue_botton{
    background-color: rgb(9, 112, 245);
    border: 1px solid rgb(9, 112, 245);
    width: 80px;
    border-radius: 4px;
    color: #fff;
    font-size: 1.0em;
    height: 32px;
} 

ul.gallery{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   background-color: rgba(93, 101, 109, 0.87);
    width: 1150px;
    height: auto;
    margin: 15px auto;
 }

 li.gallery_item{
    padding: 5px;
    margin: 10px;
    width: 349px;
    height: 255px;
    border: 2px dashed rgb(216, 176, 91);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(57, 57, 57);
    
}
img.img_itm{
    display: block;
    width: 347px;
    height: 189px;
   
}

div.block{
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px;
}

div.one_item{
    display: flex;
    flex-direction: column;
   
    text-align: center;
}
div.one_item h2{
   font-size: 1.1em;
   font-weight: bold;
}

div.one_item p{
   font-size: 1.1em;
}


.loader {
    width: 35px;
    height: 35px;
    border: 7px solid #cac9c9;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .box{
        margin: 10px auto;
        width: 35px;
        height: 35px;
        visibility: hidden;
     }